@import "tailwindcss";

@theme {
  /* Your custom theme here */
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-sans: 'Montserrat', sans-serif;
  
  --color-lv-brown: #3d2817;
  --color-lv-tan: #c19a6b;
  --color-lv-gold: #d4af37;
}
